---
layout: markdown_page
title: Defend Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the vision for this area of the product, see the [Defend stage](/stages-devops-lifecycle/defend/) page.

## Mission

The Defend team works on GitLab's [Defend stage](/stages-devops-lifecycle/defend/).

[Secure stage]: /stages-devops-lifecycle/defend/

## Team Members

The following people are permanent members of the Defend Section:

<%= direct_team(manager_role: 'Director of Engineering, Defend') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Blank/, direct_manager_role: 'Director of Engineering, Defend') %>

## Defend Team

The Defend Team is responsible for defending apps and infrastructure from security intrusions.  The team maps to the [defend](/handbook/product/categories/#defend) transversal page. You can learn more about our approach on the [Defend Vision](/direction/defend/) page.


<%= partial("direction/categories", :locals => { :stageKey => "defend" }) %>

## Label Usage

_TBD_

## Release process

_TBD_

## Skills

_TBD_

## Engineering Rhythm

_TBD_

## Product Documentation

## Common Links

  * [#s_defend](https://gitlab.slack.com/archives/s_defend) in Slack

## How to work with us

_TBD_